@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import "tailwindcss";


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    
    font-family: Arial, sans-serif;
    background-color: rgb(246, 246, 246);
}
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .galmuri-font {
    font-family: 'Galmuri11', sans-serif;
  }
