@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Gowun+Batang&family=Press+Start+2P&display=swap');
@import 'tailwindcss';

/* Pretendard 폰트는 @font-face로 정의 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: rgb(246, 246, 246);
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 다른 폰트를 사용해야 하는 특정 구역이 있다면, 기존 클래스 사용 */
.galmuri-font {
  font-family: 'Galmuri7', sans-serif;
}

.galindo-regular {
  font-family: 'Galindo', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pretendard-font {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

.modal-back-color {
  background-color: rgba(110, 110, 110, 0.47);
}
